body {
    background-color: #333;
    color: #fff;
}

.table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: red;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color: aqua;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}